# pipreqs . --encoding=utf8 --force
# pip install -r requirements.txt

albumentations
coremltools
matplotlib
numpy
onnx
onnx_simplifier
onnxruntime
#onnxruntime_gpu==1.8.0
onnxsim
opencv_python
pafy
pandas
Pillow
#protobuf==4.22.1
pycocotools
#pycuda==2022.2.2
PyYAML
requests==2.28.2
scipy
seaborn
setuptools
#tensorflow==2.11.0
#tensorflowjs==4.2.0
#tensorrt==8.5.3.1
thop
timm
#torch==1.11.0+cu115
#torchvision==0.12.0+cu115
tqdm
datasets
joblib